{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "linebreak-style": 0,
    "no-console": 1,
    "prettier/prettier": "error",
    "camelcase": "off",
    "no-extra-boolean-cast": "off"
  }
}
